name: Database Migrations

on:
  push:
    paths:
      - 'scripts/setup.sql'
    branches: [ "main" ]

jobs:
  migrate:
    runs-on: ubuntu-latest
    needs: terraform
    environment: production

    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "us-east-1"

      - name: Install PostgreSQL
        run: sudo apt-get update && sudo apt-get install -y postgresql-client

      - name: Get DB Endpoint
        id: tf-output
        working-directory: ./terraform
        run: |
          DB_ENDPOINT=$(terraform output -json db_connection | jq -r .endpoint)
          echo "DB_ENDPOINT=$DB_ENDPOINT" >> $GITHUB_ENV

      - name: Run Migrations
        run: |
          psql "postgresql://${{ vars.DB_USERNAME }}:${{ secrets.DB_PASSWORD }}@${{ env.DB_ENDPOINT }}/customers_orders" \
            -f scripts/setup.sql
        env:
          PGPASSWORD: ${{ secrets.DB_PASSWORD }}